{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
{% if user.is_authenticated %}
  Hi {{ user.username }}!
    <br></br>
   <table border="">
<thead>
    <tr>
    <th>Keyword</th>
    </tr>
</thead>
<tbody>
    {% for keyword in keywords %}
    <tr>
    <td>{{ keyword.value }}</td>
    <td><a href="{% url "keyword_delete" keyword.id %}">delete</a></td>
    </tr>
    {% endfor %}
</tbody>
</table>

<a href="{% url "keyword_new" %}">New</a>
    <br></br>
    <table border="">
<thead>
    <tr>
    <th>Cookie</th>
    </tr>
</thead>
<tbody>
    {% for cookie in object_list %}
    <tr>
    <td>{{ cookie.value }}</td>
    </tr>
    {% endfor %}
</tbody>
</table>
    <a href="{% url "cookie_new" %}">Set cookie</a>
    <br></br>
    <table border="">
<thead>
    <tr>
    <th>Last run</th>
    </tr>
</thead>
<tbody>
    <tr>
    <td>{{ last_crawl }}</td>
    </tr>
</tbody>
</table>
    <p><a href="{% url 'run_crawl' %}">Run new crawl</a></p>

    {% if crawl_toggled %}
        <p><b><font color="green">Periodic crawl is on.</font></b><a href="{% url 'toggle_crawl' %}"> [Toggle]</a></p>
    {% else %}
        <p><b><font color="red">Periodic crawl is off.</font></b><a href="{% url 'toggle_crawl' %}"> [Toggle]</a></p>
    {% endif %}
  <p><a href="{% url 'logout' %}">logout</a></p>
  <p><a href="{% url 'password_reset' %}">reset password</a></p>
{% else %}
  <p>You are not logged in</p>
  <a href="{% url 'login' %}">Log in</a>
    <br></br>
    <p>New user?</p>
  <a href="{% url 'signup' %}">Sign up</a>
{% endif %}
{% endblock %}